<div class="main-home">



</div>
<script>
$(document).one("page:update", function(){
  clearTimeout(showImgFun)
  clearTimeout(removeImgFun)
  removeImg(1);
});
</script>

<% if !(alert || notice) %>
<script>
$(document).one("page:update", function(){
  $('#myModal-login').modal('show');
});
</script>
<% end %>


