<ul class="self-selectBar">
	<div class="self-selectIcon fa fa-angle-double-right"></div>
	<li class="self-selectBar-li"><%= link_to "個人資料", { :controller => 'self', :action=>"info"} %></li>
	<li class="self-selectBar-li"><%= link_to "個人專長欄", { :controller => 'self', :action=>"announce"} %></li>
	<li class="self-selectBar-li">編輯個人專長</li>
	
</ul>