<%= render "self/selectBar" %>

<div class="main-self-announce">
	<div class="main-announce-left mCustomScrollbar" data-mcs-theme="rounded-dark">
		<img src="/assets/home_img1.jpg" alt="">
		<img src="/assets/home_img2.jpg" alt="">
		<img src="/assets/home_img3.jpg" alt="">
		<img src="/assets/home_img4.jpg" alt="">
	</div>
	<div class="main-announce-right mCustomScrollbar" data-mcs-theme="rounded-dark">
		<div class="self-announce-header"><i class="fa fa-th-list self-ability-icn"></i>個人專長欄</div>
		<div class="announce-middle">
			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
			</div>

			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
			</div>

			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
			</div>

			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
			</div>

			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
			</div>

			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
			</div>

			<div class="self-announce-event">
				<div class="event-title">網頁設計師</div>
				<div class="event-content mCustomScrollbar" data-mcs-theme="rounded-dark">
					本人一開始是使用php<br>
					https://github.com/adaviddsc/project1  (此網站是一開始剛接觸網站用php coding的作品)<br>
					<br>
					有html5+scss+RWD的經驗,例如以下網站,本人有參與前端開發<br>
					http://sokoos.com/<br>
					<br>
					最近幫其他公司接的case,ROR後端由本人一人完成,會使用paypal與歐付寶金流串接,以下是我目前案件的github<br>
					https://github.com/adaviddsc/oobike_rails<br>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).one("page:update", function(){
	self_annocument_resize();
	screen_height_resize();
});
</script>
