@import "compass";
.self-selectBar{
	position: fixed;
	top: 60px;
	z-index: 1;
	width: 200px;
	background: #FFF;
	padding: 0;
	left: -200px;
	.self-selectBar-li{
		height: 50px;
		width: 100%;
		background: #FFF;
		border-bottom: 1px solid #D0D0D0;
		border-right: 1px solid #D0D0D0;
		text-align: center;
		line-height: 50px;
		font-size: 16px;
		cursor: pointer;
		a{
			width: 100%;
			height: 100%;
			display: block;
			text-decoration: none;
			color:#000;
		}
		@include transition(all .2s linear);
		&:hover{
			background:#D0D0D0;
		}
	}
	.self-selectIcon{
		right: -40px;
		background: #fff;
		width: 40px;
		height: 41px;
		top: 40px;
		position: absolute;
		color: #000;
		padding: 0px 10px;
		font-size: 40px !important;
		@include border-radius(50%);
		cursor: pointer;
	}
}

.main-self-info{
	position: relative;
	top: 60px;
	width: 100%;
	background: url(/assets/mt-cook.jpg);
	@include background-size(cover);

	.main-info-frame{
		width: 960px;
		margin: 0 auto;
		overflow: hidden;
		.info-frame-left{
			float: left;
			width: 300px;
			position: relative;
			padding: 0px 10px;
			.info-leftFrame{
				width: 100%;
				@include border-radius(5px);
				background: #FFF;
				margin: 20px 0;
				.info-selfImg-top{
					width: 150px;
					margin: 0px auto;
					padding: 15px 0;
					img{
						width: 150px;
						height: 150px;
						@include border-radius(50%);
						border: 1px solid #C0C0C0;
					}
				}
				.info-selfImg-bottom{
					border-top: 1px solid #D7D7D7;
					padding: 10px;
					background: #f4f4f4;
					color: #000;
					@include border-bottom-left-radius(5px);
					@include border-bottom-right-radius(5px);
					h1{
						margin: 7px 0px;
						font-size: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 100%;
					}
				}
				.info-leftContent{
					padding: 10px 35px;
					li{
						margin: 5px 0px;
						font-size: 16px;
						width: 100%;
						a{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							text-decoration: none;
						}
					}
				}
			}
		}
		.info-frame-right{
			float: right;
			width: 100%;
			margin-left: -300px;
			padding: 0 5px 0 310px;
			.info-rightFrame{
				width: 100%;
				@include border-radius(5px);
				background: #FFF;
				margin: 20px 0;

				.info-editSelfInfo{
					display: none;
					.editSelfImg{
						text-align: center;
						width: 500px;
						margin: 0px auto;
						padding: 15px 0;
						border-bottom: 1px solid #D8D8D8;
						img{
							width: 150px;
							height: 150px;
							@include border-radius(50%);
							border: 1px solid #C0C0C0;
						}
						button{
							@include transition(all .2s linear);
							@include border-radius(5px);
							padding: 5px 8px;
							border: none;
							margin: 10px auto 0;
							display: block;
							background: #BBBBBB;
							border-bottom: 2px solid #868686;
							color: #FFF;
							&:hover{
								background: #868686;
							}
						}
					}
					.editSelfContent{
						margin: 0 auto;
						width: 300px;
						.field{
							margin: 15px 0;
							i{
								font-size: 18px;
								margin-right: 3px;
							}
							label{
								font-size: 18px;
							}
							input[type=text]{
								width: 300px;
								height: 30px;
								display: inline-block;
							}
							select{
								font-size: 16px;
								width: 100px;
							}
							
						}
						input[type=submit]{
							@include transition(all .2s linear);
							@include border-radius(5px);
							padding: 5px 8px;
							border: none;
							margin: 20px auto 20px;
							display: block;
							background: #5AB8D3;
							border-bottom: 2px solid #1D91A0;
							width: 300px;
							color: #fff;
							&:hover{
								background: #1D91A0;
							}
						}
					}
				}
				.info-editExper{
					display: none;
					.info-workCategory{
						height: 40px;
						width: 100%;
						background: #eee;
						text-align: center;
						line-height: 40px;
						label{
							margin-left: 5px;
						}
						select{
							width: 100px;
							margin-right: 5px;
						}
					}

					.info-workExper{
						width: 100%;
						background: #FFFFFF;
						border-top: 1px solid #B5B5B5;
						overflow: auto;
						border: 1px solid #586F83;
						margin: 5px 0;
						border-radius: 5px;
						.info-workExperEdit{
							width: 100%;
							height: 25px;
							background: #586F83;
							box-shadow: 0 1px 2px #4A4A4A;

							a{
								color: #fff;
								text-decoration: none;
								margin-left: 10px;
								font-size: 15px;
								display: inline-block;
								padding-top: 2px;
							}
						}
						.workExper-left{
							float: left;
							width: 280px;
							padding: 15px;
							border-right: 1px solid #B5B5B5;
							title{
								margin: 0px 0 10px 0;
								display: inline-block;
								font-size: 20px;
							}
							label{
								font-size: 16px;
								margin: 0 0 2px 10px;
							}
							h1{
								margin: 0px 0 0 10px;
								display: inline-block;
								font-size: 16px;
							}
						}
						.workExper-right{
							margin-left: -280px;
							padding: 15px 15px 15px 295px;
							width: 100%;
							float: right;
							font-size: 16px;
							textarea{
								height: 155px;
								resize: none;
							}
						}
					}
				}
				.info-newExper{
					background:#eee;
					display: none;
					.newExper-frame{
						width: 400px;
						margin: 0 auto;
						select{
							margin-bottom: 15px;
						}
						input{
							border: none;
						}
						textarea{
							border: none;
							resize:none;
							height: 150px;
						}
						input[type=submit]{
							@include transition(all .2s linear);
							@include border-radius(5px);
							padding: 5px 8px;
							border: none;
							margin: 20px auto 20px;
							display: block;
							background: #5AB8D3;
							border-bottom: 2px solid #1D91A0;
							width: 100%;
							color: #fff;
							&:hover{
								background: #1D91A0;
							}
						}
					}
				}
				.info-privicy{
					display: none;
					.privicy-frame{
						margin-bottom: 30px;
						h1{
							font-size: 20px;
							margin: 30px 0px 10px 30px;
							display: inline-block;
						}
						h2{
							font-size: 16px;
							display: inline-block;
						}
						.line{
							margin-bottom: 10px;
							width: 100%;
							height: 1px;
							background: #1e5799; /* Old browsers */
							background: -moz-linear-gradient(left, #1e5799 0%, #207cca 0%, #000000 0%, #7c7c7c 0%, #ffffff 70%, #ffffff 100%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#000000), color-stop(0%,#7c7c7c), color-stop(70%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(left, #1e5799 0%,#207cca 0%,#000000 0%,#7c7c7c 0%,#ffffff 70%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(left, #1e5799 0%,#207cca 0%,#000000 0%,#7c7c7c 0%,#ffffff 70%,#ffffff 100%); /* Opera 11.10+ */
							background: -ms-linear-gradient(left, #1e5799 0%,#207cca 0%,#000000 0%,#7c7c7c 0%,#ffffff 70%,#ffffff 100%); /* IE10+ */
							background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#000000 0%,#7c7c7c 0%,#ffffff 70%,#ffffff 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
							margin-left: 25px;
						}
						label{
							font-size: 16px;
							margin-left: 10px;
							margin-bottom: 10px;
						}
						h3{
							font-size: 18px;
							margin: 15px 0 15px 40px;
							display: inline-block;
						}
						h4{
							font-size: 16px;
							color: red;
							display: inline-block;
						}
						select{
							margin-left: 40px;
						}
						/*textarea{
							width: 400px;
							height: 150px;
							resize: none;
							margin: 0 0 35px 110px;
						}*/
					}
				}
				.show-infoFrame{
					display: block;
				}
			}
		}
	}
}
.info-title{
	background: #000;
	color: #fff;
	font-size: 16px;
	padding: 3px 8px;
	@include border-top-left-radius(5px);
	@include border-top-right-radius(5px);
	i{
		margin-right: 3px;
	}
}