<i class="fa fa-bullhorn announce-btn open">&nbsp;公告區</i>
<div class="announce">
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
	<h1>逆風飛翔: 今天是soho新開幕～,歡迎各位加入我們的社群歡迎各位加入我們的社群歡迎各位加入我們的社群</h1>
</div>
<div class="home-find">

	<a href="/find/people">
		<i class="fa fa-users find-people find-hover">
			<div class="find-people-btn">
				<!--<span><i class="fa fa-hand-o-up"></i>進入</span>-->
				<span>尋找人才</span>
			</div>
		</i>
	</a>
	<a href="/find/work">
		<i class="fa fa-briefcase find-work find-hover">
			<div class="find-people-btn">
				<span>尋找工作</span>
			</div>
		</i>
	</a>

	
</div>


<div class="main-home"></div>

<script>
$(document).one("page:update", function(){
  clearTimeout(showImgFun)
  clearTimeout(removeImgFun)
  removeImg(1);
});
</script>