@import "compass";
body {
	font-family: "Verdana", "Lucida Sans Unicode", "Arial", "Helvetica Neue", "Helvetica", "sans-serif", "微軟正黑體", "新細明體", "蘋果儷中黑", "小塚ゴシック Pro", "ヒラギノ角ゴ";
	color: #333333;
	letter-spacing: 1px;
}
.hidden-fileInput{
	display: none !important;
}
.header{
	background: #000;
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 10;
	.header-left{
		padding: 4px 0 0 70px;
		float: left;
		.logo{
			width: 115px;
			img{
				width: 54px;
			}
			
		}
	}
	.header-right{
		float: right;
		padding: 0px 30px;
		#dLabel-header{
			cursor: pointer;
			margin-top: 11px;
			.user-avatar{
				@include border-radius(50%);
				width: 35px;
				height: 35px;
				margin: 0px 10px;
			}
			.user-name,.fa-caret-down{
				color: #fff;
			}
		}
		.header-menu{
			left: 100%;
			margin-left: -160px;
			width: 160px;
			top: 58px;
		}
		.header-btn{
			margin-top: 15px;
			color: #000;
			border: none;
			@include border-radius(5px);
			padding: 4px 13px;
			letter-spacing: 1px;
			margin-left: 7px;
			@include transition(all .2s linear);
			&:hover{
				background:#fff;
			}
		}
	}
}
.header-home{
	opacity: .8;
}
.header-other{
	opacity: 1;
}
.announce-btn{
	@include border-top-left-radius(5px);
	@include border-top-right-radius(5px);
	width: 500px;
	height: 25px;
	background: #2F8386;
	position: fixed;
	color: #fff;
	padding: 4px 7px;
	font-size: 18px;
	cursor: pointer;
	top: 100px;
	left: 50px;
	z-index: 2;
	font-size: 18px !important;
}
.announce{
	width: 500px;
	height: 200px;
	background: #fff;
	opacity: .7;
	position: fixed;
	top: 125px;
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);
	left: 50px;
	z-index: 2;
	overflow-y: scroll;
	overflow-x: hidden;
	h1{
		width: 100%;
		font-size: 16px;
		margin: 10px;
		overflow : hidden;
		text-overflow : ellipsis;
		white-space : nowrap;
	}
	
}
.home-find{
	position: fixed;
	top: 400px;
	z-index: 2;
	left: 0;
	right: 0;
	width: 680px;
	margin: auto;
	.find-hover{
		color: #fff;
		font-size: 130px !important;
		text-align: center;
		cursor: pointer;
		@include transition(all .2s linear);
		.find-people-btn{
			width: 300px;
			height: 80px;
			border: 3px solid #FFF;
			color: #fff;
			font-size: 34px;
			line-height: 75px;
			text-align: center;
			letter-spacing: 5px;
			margin-top: 25px;
			@include transition(all .2s linear);
			span{
				//@include transition(all .2s linear);
				i{
					margin-right: 10px;
				}
			}
		}
		&:hover{
			text-shadow: 0 7px 10px #000;
			.find-people-btn{
				background:#49989B;
				text-shadow:none;
			}
		}
	}
	.fa-users{
		margin-right: 35px;
	}
	.fa-briefcase{
		margin-left: 35px;
		font-size: 135px !important;
		.find-people-btn{
			margin-top: 16px;
		}
	}
}

.main-home{
	z-index: 1;
	height: 100vh;
	overflow-y: hidden;
	opacity: 0;
	@include transition(all 1s linear);

}
.main-home-img1{
	background: url(/assets/home_img1.jpg);
	@include background-size(cover);
}
.main-home-img2{
	background: url(/assets/home_img2.jpg);
	@include background-size(cover);
}
.main-home-img3{
	background: url(/assets/home_img3.jpg);
	@include background-size(cover);
}
.main-home-img4{
	background: url(/assets/home_img4.jpg);
	@include background-size(cover);
}

/*******警告視窗********/
#alert-notice{
	position: absolute;
	width: 300px;
	height: 130px;
	background: #fff;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 0px;
	bottom: 0px;
	z-index: 101;
	@include border-radius(5px);
	text-align: center;
	box-shadow: 0 1px 2px #909090;
	padding: 25px 0px;
}
#alert-close{
	background: #5e7b94;
	color: #fff;
	padding: 3px 50px;
	border: none;
	@include border-radius(5px);
	font-size: 14px;
}
#alert-message{
	font-size: 20px;
	height: 33px;
	line-height: 33px;
}
#alert-background{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.users-dialog{
	z-index: 100;
	.modal-dialog{
		margin: 100px auto;
		width: 300px;
		.modal-header{
			color: #fff;
			@include border-top-right-radius(5px);
			@include border-top-left-radius(5px);
			background:#000;
		}
		.modal-body{
			background: #eee;
			@include border-bottom-right-radius(5px);
			@include border-bottom-left-radius(5px);
			form{
				border-bottom: 1px solid #AEAEAE;
				margin-bottom: 10px;
				padding-bottom: 5px;
				input[type=email],input[type=password],input[type=text]{
					@include border-radius(5px);
					border-width: 1px;
					margin-bottom: 5px;
					width: 100%;
					height: 30px;
					border: none;
				}
				input[type=submit]{
					background: #5AB8D3;
					color: #fff;
					border: none;
					@include border-radius(5px);
					padding: 5px 0px;
					margin-top: 5px;
					margin-bottom: 5px;
					width: 100%;
				}
			}
			
			
		}
	}
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*******警告視窗********/
/*
$time: afternoon;
.main-body{
	@if $time == morning {
		background: url(/assets/home_img3.jpg);
	} @else if $time == afternoon {
		background: url(/assets/home_img3.jpg);
	} @else {
		color: grey;
	}
	height: 100vh;
	@include background-size(cover);
	overflow-y: hidden;
}
*/