@import "compass";
#myModal-login,#myModal-regist{
	z-index: 100;
	.modal-dialog{
		margin: 100px auto;
		width: 300px;
		.modal-header{
			color: #fff;
			@include border-top-right-radius(5px);
			@include border-top-left-radius(5px);
			background:#000;
		}
		.modal-body{
			
		}
	}
	
}