<%= render "selves/selectBar" %>

<div class="main-self-announce">
	<% if params[:controller] == "ability" && ( params[:action] == "new" || params[:action] == "edit" ) %>
		<%= form_for @ability, :url => { :controller => 'ability', :action => @ability_action }, :html => {:enctype => 'multipart/form-data'} do |f| %>
			<%= render "selves/abilityEvents", :collection => f %>
		<% end %>
	<% elsif params[:controller] == "ability" && params[:action] == "index" %>
		<%= render "selves/abilityEvents"  %>
	<% end %>

</div>
<script>
$(document).one("page:update", function(){
	self_annocument_resize();
	screen_height_resize();
});
</script>
